################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.json
*.sqlite
*.suo
*.db
*.opendb
*.ipch
*.db-shm
*.db-wal
*.tlog
*.log
*.obj
*.idb
*.pdb
*.enc
*.ilk
*.iobj
*.ipdb
/main.cpp
